html{
    height: 100%;
    width: 100%;
}
.container{
    display: grid;
    font-family: 'Indie Flower', cursive;
    color: #555169;
    margin: 0;
    width: 100%;
    height: 100%;
    
}
.notes{
    background-color: #F9E0BD;
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 1/3;
}
.textbox{
    background-color: #F6C177;
    padding: 20px;
    grid-column: 2 / 10;
    grid-row: 1/3;
}
nav h2{
    margin-right: 20px;
    text-align: right;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.alignR{

    text-align: right;
}
.flex-new{
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
}
.button{
    align-self: right;
    transition-duration: 0.4s;
    border: 2px solid grey;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color:rgb(62, 159, 207) ;
    border-radius: 12px;
    font-family: 'Indie Flower', cursive;
    font:bolder;
}
.Dark-button{
    background-color: rgb(70, 6, 116);
    justify-self: flex-end;
    margin-left: auto;

}
.cancel-button{
    background-color: rgb(196, 68, 45);
}













